/* 
screen size breakpoints: (from Microsoft)
 - large: 1008px or greater
 - medium: 641px - 1007px
 - smalle: 640px or smaller
*/

:root {
  --backgroundColor: rgb(240, 240, 240);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--backgroundColor);
}

@media screen and (max-width: 1007px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 75%;
  }

  body {
    flex-direction: column-reverse;
  }
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: white;
}

.square {
  width: 100%;
  height: 100%;
}
.square:hover {
  background-color: var(--backgroundColor);
}
.square.filled {
  background-color: black;
}
